$color-white: #fff;
$color-grey-dark: #777;
$color-grey-medium: #d4d4d4;
$color-grey-light: #f4f4f4;
$color-blue-dark: #17232c;
$color-blue-medium: #1d2c37;
$color-green-dark: #478c15;
$color-green-medium: #0CB720;
$color-green-light: #c6f4a4;
