@import '../../themes/vars';

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: $headerHeight;
  background-color: $color-blue-medium;
  color: $color-grey-light;

  img {
    margin-left: rem(24);
  }

  h1 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
}

@include desktop {
  .Header {
    justify-content: flex-start;

    h1 {

      &:after {
        content: '';
        min-width: 14rem;
      }
    }
  }
}